<?xml version="1.0"?>
<!--
/**
 * Events configuration
 *
 * @package     Defox_SEOSuite
 * @copyright   Copyright (c) 2024 Defox (https://defox.com)
 * @license     Defox Proprietary License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Canonical URLs events -->
    <event name="layout_generate_blocks_after">
        <observer name="defox_seosuite_add_canonical_product" instance="Defox\SEOSuite\Observer\AddCanonicalToProductPage" />
        <observer name="defox_seosuite_add_canonical_category" instance="Defox\SEOSuite\Observer\AddCanonicalToCategoryPage" />
    </event>
    

    <event name="defox_seosuite_sitemap_generation_error">
        <observer name="defox_seosuite_sitemap_error_notification" instance="Defox\SEOSuite\Observer\SendSitemapErrorNotification" />
    </event>
</config>
