<?xml version="1.0"?>
<!--
/**
 * Debug routes configuration
 *
 * @package     Defox_SEOSuite
 * @author      Marcin Lisiecki
 * @copyright   Copyright (c) 2025 deFox
 * @license     GNU General Public License v3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="defox_seosuite_debug" frontName="defox_seosuite_debug">
            <module name="Defox_SEOSuite" />
        </route>
    </router>
</config>
