<?xml version="1.0"?>
<!--
/**
 * @package     Defox_SEOSuite
 * @author      Marcin Lisiecki
 * @copyright   Copyright (c) 2025 deFox
 * @license     GNU General Public License v3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Defox_SEOSuite::seosuite" title="SEO Suite Lite" translate="title" module="Defox_SEOSuite" sortOrder="50" parent="Magento_Backend::marketing" resource="Defox_SEOSuite::seosuite"/>
        <add id="Defox_SEOSuite::sitemap_management" title="SEO Suite Lite Sitemap" translate="title" module="Defox_SEOSuite" sortOrder="55" parent="Magento_Backend::marketing" resource="Defox_SEOSuite::sitemap"/>

        <add id="Defox_SEOSuite::template" title="Meta Tag Templates" translate="title" module="Defox_SEOSuite" sortOrder="20" parent="Defox_SEOSuite::seosuite" action="defox_seosuite/template" resource="Defox_SEOSuite::template"/>


        <add id="Defox_SEOSuite::structured_data_preview" title="Structured Data Preview" translate="title" module="Defox_SEOSuite" sortOrder="55" parent="Defox_SEOSuite::seosuite" action="defox_seosuite/structuredData/preview" resource="Defox_SEOSuite::structured_data_preview"/>
        <add id="Defox_SEOSuite::settings" title="Settings" translate="title" module="Defox_SEOSuite" sortOrder="60" parent="Defox_SEOSuite::seosuite" action="adminhtml/system_config/edit/section/defox_seosuite" resource="Defox_SEOSuite::settings"/>

        <add id="Defox_SEOSuite::sitemap_index" title="Przegląd" translate="title" module="Defox_SEOSuite" sortOrder="10" parent="Defox_SEOSuite::sitemap_management" action="defox_seosuite/sitemap/index" resource="Defox_SEOSuite::sitemap"/>
        <add id="Defox_SEOSuite::sitemap_generate" title="Generowanie" translate="title" module="Defox_SEOSuite" sortOrder="20" parent="Defox_SEOSuite::sitemap_management" action="defox_seosuite/sitemap/generate" resource="Defox_SEOSuite::sitemap_generate"/>
        <add id="Defox_SEOSuite::sitemap_validate" title="Walidacja" translate="title" module="Defox_SEOSuite" sortOrder="30" parent="Defox_SEOSuite::sitemap_management" action="defox_seosuite/sitemap/validate" resource="Defox_SEOSuite::sitemap_validate"/>
        <add id="Defox_SEOSuite::sitemap_dashboard" title="Analityka" translate="title" module="Defox_SEOSuite" sortOrder="40" parent="Defox_SEOSuite::sitemap_management" action="defox_seosuite/sitemap/dashboard" resource="Defox_SEOSuite::sitemap_dashboard"/>
    </menu>
</config>
